[alias]
	commit = ci
	ci = commit
	co = checkout
	st = status
	info = status
	svn-diff = !git-svn-diff
[user]
	name = Eric Marden
	email = eric@xentek.net
[core]
	excludesfile = /Users/xentek/.gitignore
[github]
	user = xentek
	token = b7feed758c325250f141045d1b0b95cc
