[alias]
	commit = ci
	ci = commit
	co = checkout
	st = status
	info = status
	svn-diff = !git-svn-diff
	l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	lol = log --pretty=oneline --abbrev-commit --graph --decorate
	unstage = reset HEAD
	staged = diff --cached
	unstaged = diff
	current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
[apply]
	whitespace = warn
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
	ui = true
[help]
	autocorrect = 1
[status]
	submodule = 1
[push]
	default = current
[core]
	excludesfile = $HOME/.gitignore
